body {
    background-color: #f5f5dc;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
li .link{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: darkcyan;
    border-radius: 50px;
    color: aliceblue;
    padding: 2px 10px;
  text-decoration: none;
display: inline-block;
margin: 6px;

}
.flagcounter{
  size: 100px;
}
